@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

h1 {
  text-align: center;
  font-size: 52px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  max-width: 600px;
}

p {
  text-align: center;
  font-size: 15px;
  max-width: 500px;
  color: #777574;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

p a {
  color: inherit;
  text-decoration: none;
}

#subheading {
  text-align: center;
  font-size: 16px;
  color: #777574;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 20px;
  padding: 0 1em;
  max-width: 600px; 
  /* border: 2px solid red; */
}

.item {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:10px 10px 10px 10px;

}

.item-result {
  text-align: left;
  height: 20px;
  margin-top: px;
  margin-bottom: px;
  padding:10px 10px 10px 10px;
  font-family: "Helvetica Neue", Arial, sans-serif;

}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /* border-color: #F5F5F5; */
  border: 2px solid #777574;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#results {
  display: flex;
  flex-direction: column;
  height: 200px; /* Set to the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
}

#results .item {
  flex-grow: 1;
  max-height: 100px; /* Set to the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
}

#mwInput {
  max-width: 150px;  /* Adjust this value as needed */
}

#dbmInput {
  max-width: 150px;  /* Adjust this value as needed */
}

#logo {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

