@media screen and (max-width: 31.25em) { /* 500px / 16 = 31.25em */
  .container {
    max-width: 100%;
    align-items: stretch;
    h1 {
      font-size: 2.25em; /* 36px / 16 = 2.25em */
    }
    h2 {
      font-size: 1.5em; /* 24px / 16 = 1.5em */
    }
  }
}

h2 {
  font-size: 1.5em; /* 24px / 16 = 1.5em */
  font-family: "Helvetica Neue", Arial, sans-serif;

}

#headline {
  font-size: 2.5em; /* 40px / 16 = 2.5em */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#mw-dbm-legend {
  text-align: left;
}

#wm-dbm-use-cases {
  text-align: left;
}

ul {
  font-size: 1em; /* 16px / 16 = 1em */
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: left;
}

h1 {
  text-align: center;
  font-size: 1.875em; /* 30px / 16 = 1.875em */
  font-family: "Helvetica Neue", Arial, sans-serif;
  max-width: 37.5em; /* 600px / 16 = 37.5em */
}

h1, p {
  
  margin-bottom: 0;
}

p {
  text-align: center;
  font-size: 0.75em; /* 12px / 16 = 0.75em */
  max-width: 18.75em; /* 300px / 16 = 18.75em */
  color: #777574;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

p a {
  color: inherit;
  text-decoration: none;
}

#subheading {
  text-align: center;
  font-size: 1em; /* 16px / 16 = 1em */
  color: #777574;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 1.25em; /* 20px / 16 = 1.25em */
  padding: 0 1em;
  max-width: 375em;
  max-height: 667em;
}

.item {
  height: 2.5em; /* 40px / 16 = 2.5em */
  margin-top: 0.625em; /* 10px / 16 = 0.625em */
  margin-bottom: 0.625em; /* 10px / 16 = 0.625em */
  padding: 0.625em; /* 10px / 16 = 0.625em */
  border-radius: 1.25em; /* 20px / 16 = 1.25em */
  background-color: #F5F5F5;
}

.item-result {
  text-align: left;
  height: 1.25em; /* 20px / 16 = 1.25em */
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.625em; /* 10px / 16 = 0.625em */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

input {
  width: 100%;
  padding: 0.75em 1.25em; /* 12px / 16 = 0.75em, 20px / 16 = 1.25em */
  margin: 0.5em 0; /* 8px / 16 = 0.5em */
  box-sizing: border-box;
  border: 0.125em solid #777574; /* 2px / 16 = 0.125em */
  border-radius: 0.25em; /* 4px / 16 = 0.25em */
}

select {
  width: 100%;
  padding: 1em 1.25em; /* 16px / 16 = 1em, 20px / 16 = 1.25em */
  border: none;
  border-radius: 0.25em; /* 4px / 16 = 0.25em */
  background-color: #f1f1f1;
}

#results {
  display: flex;
  flex-direction: column;
  height: 12.5em; /* 200px / 16 = 12.5em */
  /* overflow-y: auto; */
}

#results .item {
  flex-grow: 1;
  max-height: 6.25em; /* 100px / 16 = 6.25em */
  overflow-y: auto;
}

#mwInput {
  max-width: 9.375em;  /* 150px / 16 = 9.375em */
}

#dbmInput {
  max-width: 9.375em;  /* 150px / 16 = 9.375em */
}

#logo {
  width: 10%; 
  height: auto;
  display: block;
  margin: auto;
}

#tinyLogo {
  width: 12.5em; /* 200px / 16 = 12.5em */
  height: auto;
  align-self: flex-end;
}

#legend {
  max-width: 300px;
  text-align: left;
}

.item .btn {
  width: 100%; /* or any specific width you want */
}